@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Joti+One&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Joti+One&family=Jua&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Irish+Grover&family=Joti+One&family=Jua&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x: hidden;
}

.contaner3{
    background-color: rgba(0, 0, 0, 0.959);
    height: 100vh;
    width: 100%;
}

.events1{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 80px;
    padding-left: 50px;
    font-size: 20px;
}

.events2{
    color: white;
    font-family: "Inknut Antiqua", serif;
    padding-left: 50px;
    font-size: 30px;
}

.mcont{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.minfo{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    margin: 0px 0px 0px -80px;
}

.binfo{
    color: #C6D33B;
    font-family: "Inknut Antiqua", serif;
    font-size: 25px;
}

.info{
    color: rgba(255, 255, 255, 0.733);
    font-size: 20px;
    text-align: justify;
}

.birthday img{
    margin: 0px 0px 0px 0px;
    height: 400px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 560px;
}